@model IEnumerable<Models.Models.Student>
<html>
<head>
    <title> This is Studetns page</title>
</head>

<body>
    <b> @Html.ActionLink("Create New Student", "CreateStudent") </b>

    @foreach (var student in Model)
    {   
        <div><p><b><font color="red">@student.Name</font></b></p></div>

        @Html.ActionLink("Edit student", "EditStudent", new { Id = student.Id })
        <br>
        @Html.ActionLink("Delete student", "DeleteStudent", new { Id = student.Id })
    }

</body>
</html>
